{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Teamleader plugin for Craft CMS 3.x
 *
 * Teamleader index.twig
 *
 * @author    Kjell Knapen
 * @copyright Copyright (c) 2020 Kjell Knapen
 * @link      https://knapen.dev
 * @package   Teamleader
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("marbles\\teamleader\\assetbundles\\Teamleader\\TeamleaderAsset") %}
{% do view.registerAssetBundle("marbles\\teamleader\\assetbundles\\teamleadercpsection\\TeamleaderCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/Marbles/teamleader/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Teamleader" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('teamleader') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@marbles/teamleader/assetbundles/teamleadercpsection/dist', true) ~ '/img/Teamleader-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="#" class="btn submit add icon">{{ "Click Me!"|t('teamleader') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Stats will be shown here in the future"|t('teamleader') }}</h2>
{% endset %}
